*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   background-color: #ccc;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 600;
   font-size: 20px;
   height: 200vh;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   transition: all 0.6s;
   padding: 40px 100px;
   z-index: 1000;
   background-color: #00ff;
}

.sticky {
   padding: 10px 100px; 
   background:#00ff00;
}

header .logo{
   position: relative;
   font-weight: 700;
   color: #ff0;
   text-decoration: none;
   font-size: 2rem;
   text-transform: uppercase;
   letter-spacing: 2px;
   transform: 0.6s;
}

header ul {
   position:relative;
   display: flex;
   justify-content: center;
   align-items: center;
}

header ul li {
   position: relative;
   list-style: none;
}

header ul li a {
   position: relative;
   margin: 0 15px;
   text-decoration: none;
   color: #fff;
   letter-spacing: 2px;
   font-weight: 500;
   transition: 0.6s;
}

.banner {
   position: relative;
   width: 100%;
   height: 100%;
   background-image: url(./image/bangladesh.png);
   background-size: contain;
   background-position: center;
}